DJANGO_SECRET_KEY=tu-clave-secreta-larga-y-segura-de-produccion
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,192.168.1.100,tu-dominio-o-ip.com
DATABASE_URL=postgresql://systma_user:tu_password_seguro@localhost:5432/db_gestion_tic
DB_SSL=False
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://tu-dominio-o-ip.com
CSRF_TRUSTED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://tu-dominio-o-ip.com
EMAIL_HOST_USER=tu_correo_de_notificaciones@gmail.com
EMAIL_HOST_PASSWORD=tu_app_password_de_aplicacion_gmail
FRONTEND_URL=http://tu-dominio-o-ip.com

