DJANGO_SECRET_KEY=tu-clave-segura-de-produccion
DEBUG=False
ALLOWED_HOSTS=tu-app-render.onrender.com,localhost,127.0.0.1
DATABASE_URL=postgresql://usuario:password@host:puerto/nombre_db?sslmode=require
CORS_ALLOWED_ORIGINS=https://tu-app.vercel.app,http://localhost:5173
CSRF_TRUSTED_ORIGINS=https://tu-app.vercel.app,http://localhost:5173
USE_CLOUDINARY=True
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
EMAIL_HOST_USER=alejandro14menende@gmail.com
EMAIL_HOST_PASSWORD=app_password_gmail
FRONTEND_URL=https://tu-app.vercel.app
