DJANGO_SECRET_KEY=genera-una-clave-segura-para-produccion
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1,tu-app-render.onrender.com
DB_NAME=db_gestion_tic
DB_USER=postgres
DB_PASSWORD=tu_password
DB_HOST=localhost
DB_PORT=5432
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,https://tu-app.vercel.app
CSRF_TRUSTED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,https://tu-app.vercel.app
USE_CLOUDINARY=False
CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret
EMAIL_HOST_USER=alejandro14menende@gmail.com
EMAIL_HOST_PASSWORD=app_password_gmail
FRONTEND_URL=http://localhost:5173
